.myname {
    font-size: 60px;
    text-decoration: overline;
    text-shadow: 3px 3px;
    font-family: monospace;
    text-align: center;
}
img {
     float: inline-end;
}
.me {
    font-size: 30px;
}